<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://127.0.0.1/ShareAnyCar?serverTimezone=UTC&amp;useSSL=false</property>
		<property name="connection.username">root</property>
		<property name="connection.password">qwerty</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">10</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<!-- Echo all executed SQL to stdout <property name="show_sql">true</property> -->

		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>

		<mapping class="com.shareanycar.model.User" />
		<mapping class="com.shareanycar.model.UserImage" />
		<mapping class="com.shareanycar.model.Car" />
		<mapping class="com.shareanycar.model.Booking" />
		<mapping class="com.shareanycar.model.Image" />
		<mapping class="com.shareanycar.model.Insurer" />
		<mapping class="com.shareanycar.model.Manufacturer" />
		<mapping class="com.shareanycar.model.CarType" />
		<mapping class="com.shareanycar.model.FuelType" />
		<mapping class="com.shareanycar.model.TransmissionType" />
		<mapping class="com.shareanycar.model.Location" />
		<mapping class="com.shareanycar.model.Message" />

	</session-factory>
</hibernate-configuration>